.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items at the start and end of the navbar */
    padding: 10px;
    background-color: #16a085 !important;
  }
  
  .logo img,
  .profile-pic img {
    max-width: 50px;
    max-height: 50px;
  }
  
  